@keyframes render2 {
  0% {
    fill-opacity: 0;
  }
}
#holder {
  display: flex;
  justify-content: center;
}
.diagram2 {
  position: relative;
}
.diagram2__g {
  position: absolute;
  top: 50%;
}
.diagram2__pie-chart > path {
  animation-name: render2;
  animation-duration: 1s;
  transition-property: all;
  transition-duration: 0.2s;
}
.test {
  font-family: verdana, arial, sans-serif;
  font-size: 14;
  fill: black;
  stroke: none;
}
.test2 {
  stroke-linejoin: mitre;
  stroke-width: 2;
  stroke: black;
  fill: #ff0000;
}
